body {
    background-color: black;
    color: white;
}

#conteudo{
    margin-top: 2%;
    padding: 2%;
    background-color: rgba(85, 85, 85, 0.7);
    width: 50%;
    margin-left: 10
}
#valor{
    text-align: center;
    font-size: x-large;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15%;
}