body{
    background-color: rgb(1, 0, 73);
    color: rgb(0, 22, 148);
}

#pag{
    width: 70%;
    margin: 5% auto;
    background-color: beige;
    height: auto;
    padding: 5%;
    border-radius: 5%;
    box-shadow: 0px 0px 10px black;
}

#orcamento{
    width: 90%;
    height: auto;
    padding: 5%;
    margin: auto;
}

#orcamento input, #orcamento select {
    width: 100%;
    padding: 0.5%;
    margin-bottom: 2%;
    margin-top: 1%;
    font-size: 110%;
    color: rgb(0, 0, 87);
    border-radius: 10px;
}

#orcamento input[type=radio]{
    width: 20px;
}

label{
    font-size: 110%;
    margin: 1% 0%;
}

fieldset{
    width: 80%;
    margin: 20px auto;
    background-color: white;
    border: 0.5pxp solid #999;
    padding: 5%;
    border-radius: 10px;
}

legend{
    font-weight: bold;
    font-size: 1.3em;
    background-color: rgb(0, 12, 175);
    color: beige;
    padding: 2%;
    width: 50%;
}

#msg{
    display: none;
}