#conteudo{
    margin-top: 2%;
    padding: 20px;
    width: 50%;
    margin-left: 10%;
    background: #6A6A6A;
    color: black;
}
body{
    background-color: black;
}
#valor{
    text-align: center;
    font-size: x-large;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0;
}
#titulo{
    text-transform: uppercase;
}
#botao {
    margin-left: 69%;
    margin-top: -80px;
}